<h1>Battle!</h1>

<h2><%="#{@player1} vs. #{@player2}"%></h2>

<h2><%="#{@player1} hitpoints: #{@hp_player1}"%></h2>

<form action="/attack" method="get">
  <button>Attack <%= @player2 %>!</button>
</form>

<h2><%="#{@player2} hitpoints: #{@hp_player2}"%></h2>

<form action="/attack" method="get">
  <button>Attack <%= @player1 %>!</button>
</form>
